.col-md-9
  %h1
    %span.glyphicon.glyphicon-tower
    API Document

  墓では
  %strong
    api/v1/
  以下に API が生えています。
  レスポンスの形式は
  %strong
    JSON
  になります。
  線香を上げる以外は認証は必要ありません。

  %p.docs-section
    %h2#get-incenses
      = fa_icon "hand-o-right"
      GET incenses
    %hr

    %p
      みんなの上げた線香の一覧が取得できます。一度に 50 件まで取得でき、page パラメータを
      使用することで更に過去のものも取得できます。

    %p
      response で取得できる
      %strong
        next_page
      や
      %strong
        prev_page
      が
      %strong
        null
      でない場合はその数字を page パラメータに指定することにより、次の 50 件や前の 50 件が取得できます。


    %h3
      = fa_icon "rocket"
      Resource URL
    http://haka.yamashi.ro/api/v1/incenses

    %h3
      = fa_icon "flag"
      Parameters
    %table.table.table-bordered
      %thead
        %tr
          %th パラメータ名
          %th 説明
      %tbody
        %tr
          %th
            %h4
              page
              .small
                optional
          %td
            ページネーションのための数字を指定します。
            何も指定しなかった場合は 1 を指定したことになります。

    %h3
      = fa_icon "terminal"
      Example Request

      %pre
        %code
          :preserve
            $ curl http://haka.yamashi.ro/api/v1/incenses | jq .
            {
              "incenses": [
                {
                  "created_at": "2015-02-25T22:04:48.054+09:00",
                  "user": {
                    "name": "Yoshiori SHOJI",
                    "nickname": "yoshiori",
                    "image": "https://avatars.githubusercontent.com/u/78609?v=3",
                    "created_at": "2015-02-25T22:04:41.023+09:00"
                  }
                },
                {
                  "created_at": "2015-02-24T00:00:00.000+09:00",
                  "user": {
                    "name": "Yoshiori SHOJI",
                    "nickname": "yoshiori",
                    "image": "https://avatars.githubusercontent.com/u/78609?v=3",
                    "created_at": "2015-02-25T22:04:41.023+09:00"
                  }
                }
              ],
              "total_count": 2,
              "total_pages": 1,
              "current_page": 1,
              "next_page": null,
              "prev_page": null
            }

  %p.docs-section
    %h2#post-incenses
      = fa_icon "hand-o-right"
      POST incenses
    %hr

    %p
      線香を上げることが出来ます。この API のみ認証が必要になります。
      認証は
      %a{href: "#api-token"}
        アカウントごとに発行された
        %strong
          token
      を付けることにより行います。
    %p
      response の
      %strong
        status code
      によって成功したかどうかを判断できます

    %h3
      = fa_icon "rocket"
      Resource URL
    http://haka.yamashi.ro/api/v1/incenses

    %h3
      = fa_icon "flag"
      Parameters
    %table.table.table-bordered
      %thead
        %tr
          %th パラメータ名
          %th 説明
      %tbody
        %tr
          %th
            %h4
              token
              .small required
          %td
            認証のための token を指定します。
            token は
            %a{href: "#api-token"}
              下記
            で発行 & 確認できます。

    %h3
      = fa_icon "terminal"
      Example Request

      %pre
        %code
          :preserve
            $ curl -d token=xxxxxx http://haka.yamashi.ro/api/v1/incenses

    %h3
      = fa_icon "plug"
      Error Codes & Responses
      .small HTTP Status Codes
    %table.table.table-bordered
      %thead
        %tr
          %th コード
          %th 説明
      %tbody
        %tr
          %th
            %h4
              201
              .small Created
          %td
            正常に線香を上げれた
        %tr
          %th
            %h4
              400
              .small Bad Request
          %td
            token を指定してない
        %tr
          %th
            %h4
              401
              .small Unauthorized
          %td
            token が間違っている
        %tr
          %th
            %h4
              409
              .small Conflict
          %td
            すでに今日は線香をあげている
  %p.docs-section
    %h2#get-users-nickname
      = fa_icon "hand-o-right"
      GET users/:nickname
    %hr

    %p
      ユーザー情報を取得します

    %h3
      = fa_icon "rocket"
      Resource URL
    http://haka.yamashi.ro/api/v1/users/:nickname

    %h3
      = fa_icon "terminal"
      Example Request

      %pre
        %code
          :preserve
            $ curl http://haka.yamashi.ro/api/v1/users/yoshiori | jq .
            {
              "user": {
                "name": "Yoshiori SHOJI",
                "nickname": "yoshiori",
                "image": "https://avatars.githubusercontent.com/u/78609?v=3",
                "created_at": "2015-03-02T20:48:03.755+09:00"
              }
            }

  %p.docs-section
    %h2#get-users-nickname-incenses
      = fa_icon "hand-o-right"
      GET users/:nickname/incenses
    %hr

    %p
      %strong
        nickname
      の上げた線香の一覧が取得できます。パラメータやレスポンスなどは
      %a{href: "#get-incenses"}
        GET incenses
      と同じです。

    %h3
      = fa_icon "rocket"
      Resource URL
    http://haka.yamashi.ro/api/v1/users/:nickname/incenses

    %h3
      = fa_icon "terminal"
      Example Request

      %pre
        %code
          :preserve
            $ curl http://haka.yamashi.ro/api/v1/users/yoshiori/incenses | jq .
            {
              "incenses": [
                {
                  "created_at": "2015-02-25T22:04:48.054+09:00",
                  "user": {
                    "name": "Yoshiori SHOJI",
                    "nickname": "yoshiori",
                    "image": "https://avatars.githubusercontent.com/u/78609?v=3",
                    "created_at": "2015-02-25T22:04:41.023+09:00"
                  }
                },
                {
                  "created_at": "2015-02-24T00:00:00.000+09:00",
                  "user": {
                    "name": "Yoshiori SHOJI",
                    "nickname": "yoshiori",
                    "image": "https://avatars.githubusercontent.com/u/78609?v=3",
                    "created_at": "2015-02-25T22:04:41.023+09:00"
                  }
                }
              ],
              "total_count": 2,
              "total_pages": 1,
              "current_page": 1,
              "next_page": null,
              "prev_page": null
            }

  %p.docs-section
    %h2#api-token
      = fa_icon "hand-o-right"
      API Token
    %hr
    #token
      = render partial: "users/token"

.col-md-3
  .well.docs-sidebar.affix
    %ul.nav.nav-pills.nav-stacked
      %li
        %a{href: "#get-incenses"}
          GET incenses
      %li
        %a{href: "#post-incenses"}
          POST incenses
      %li
        %a{href: "#get-users-nickname"}
          GET users/:nickname
      %li
        %a{href: "#get-users-nickname-incenses"}
          GET users/:nickname/incenses
      %li
        %a{href: "#api-token"}
          API Token
