= image_tag "tombstone.jpg", style: "width:100%;", class: "img-thumbnail"

- if current_user
  = link_to incenses_path, method: :post, remote: true, class: "burn-incense btn btn-primary btn-lg btn-block", data: { disable_with: "火を付けてます" } do
    = fa_icon "fire"
    線香をあげる
- else
  = link_to "auth/github", class: "burn-incense btn btn-primary btn-lg btn-block" do
    = fa_icon "github"
    GitHub でサインインして線香をあげる
%hr
.row
  .col-md-6
    %H2 最近あげられた線香
    #incenses
      = render partial: "incenses/incenses", locals: {incenses: @incenses}
  .col-md-6
    %H2 実際のお墓の所在地
    .well
      %address
        %strong
          横浜たちばな霊園
        %dl
          %dt
            住所
          %dd
            = link_to "https://goo.gl/maps/bsDsj" do
              横浜市神奈川区松見町2-578
          %dt
            HP
          %dd
            = link_to "http://www.e-ohaka.com/detail/id1212712280-427770.html" do
              http://www.e-ohaka.com/detail/id1212712280-427770.html
          %dt
            注意点
          %dd
            場所が比較的わかりにくいです。
            %br
            タクシーで行くなら菊名駅からですが、タクシーの運転手さんも結構迷います。
            %br
            住所のリンク先である地図の写真をみてたどり着いてください。
            %br
            お墓は霊園を入り奥に進むと階段があるので、それを降りた場所にあります。
            %br
            お線香は現地で売っており、火をつけるバーナーもあります。

#thankyou.modal.fade
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{data: { dismiss:"modal" }, "aria-label" => "Close"}
          %span{ "aria-hidden" => "true" }X
        %h4.modal-title ありがとう！
      .modal-body
        = image_tag "thankyou.png", style: "width:100%;", class: "img-circle"
      .modal-footer
        線香上げたことを
        = link_to "https://twitter.com/share", class: "twitter-share-button", data: {text: "yamashiroに線香をあげました",  hashtags: "ymsr"} do
          Tweet

:javascript
  !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');
