= image_tag "tombstone.jpg", style: "width:100%;", class: "img-thumbnail"

- if current_user
  = link_to incenses_path, method: :post, remote: true, class: "burn-incense btn btn-primary btn-lg btn-block", data: { disable_with: "火を付けてます" } do
    = fa_icon "fire"
    線香をあげる
- else
  = link_to "auth/github", class: "burn-incense btn btn-primary btn-lg btn-block" do
    = fa_icon "github"
    GitHub でサインインして線香をあげる
%hr
%p
  %H2 最近あげられた線香
  #incenses
    = render partial: "incenses", locals: {incenses: @incenses}
#thankyou.modal.fade
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{data: { dismiss:"modal" }, "aria-label" => "Close"}
          %span{ "aria-hidden" => "true" }X
        %h4.modal-title ありがとう！
      .modal-body
        = image_tag "thankyou.png", style: "width:100%;", class: "img-circle"
      .modal-footer
        線香上げたことを
        = link_to "https://twitter.com/share", class: "twitter-share-button", data: {text: "yamashiroに線香をあげました",  hashtags: "ymsr"} do
          Tweet

:javascript
  !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');
